{{- /* Chezmoi config template - prompts for machine-specific data during init */ -}}

{{- $email := promptStringOnce . "email" "Git email (use GitHub noreply for privacy: ID+USER@users.noreply.github.com)" -}}
{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $machineType := promptChoiceOnce . "machineType" "Machine type (use arrow keys to select, Enter to confirm)" (list "personal" "work" "server") -}}

{{- /* Editor selection - servers only get terminal editors, others can choose GUI editors too */ -}}
{{- $editor := "nvim" -}}
{{- if eq $machineType "server" -}}
{{-   $editor = promptChoiceOnce . "editor" "Preferred editor" (list "nvim" "vim") -}}
{{- else -}}
{{-   $editor = promptChoiceOnce . "editor" "Preferred editor" (list "nvim" "code" "vim") -}}
{{- end -}}

[edit]
    command = {{ $editor | quote }}
{{- if eq $editor "code" }}
    args = ["--wait"]
{{- end }}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    machineType = {{ $machineType | quote }}
    editor = {{ $editor | quote }}
