#!/bin/bash
# vim: set ft=bash:
# chezmoi:template:hash:{{ print (include ".chezmoitemplates/install-packages-darwin.sh.tmpl") (include ".chezmoitemplates/install-packages-linux.sh.tmpl") | sha256sum }}

set -euo pipefail

echo "==> Installing packages for {{ .chezmoi.os }} ({{ .chezmoi.arch }})"

{{ if eq .chezmoi.os "darwin" -}}
{{ includeTemplate ".chezmoitemplates/install-packages-darwin.sh.tmpl" . }}

{{ else if eq .chezmoi.os "linux" -}}
{{ includeTemplate ".chezmoitemplates/install-packages-linux.sh.tmpl" . }}

{{ end -}}

echo "==> Package installation complete!"
